
$primary: #e3f0f5ef;
$btn-primary: rgb(44, 172, 44);
$btn-secondary: rgb(37, 73, 236);
$enable-responsive-font-sizes:true;

@import"node_modules/bootstrap/scss/bootstrap.scss";

h2{
    color: rgba(27, 27, 139, 0.884);
    font-weight: 600;
}

.img2 {
    min-width: 100%;
    max-height: 30rem;
    margin-bottom: 0 auto;
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.25);   
}

.navbar-brand {
    padding-right: 35rem;
}



.crumb {
    color: blue;
    background-color: brown;
    padding: 0px;
}
.crumb .breadcrumb {
    color: blue;
    background-color: rgb(46, 165, 42);
    margin: 0px 0px;
}

.btn {
    background-color: hsl(290, 55%, 55%);
    color:#FFFF ;
    font-weight: 600;
    
}
.wrapper {
    background-color: $primary;
    margin-top: 0px;
    padding: 0px;
}

.container-fluid {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 15px;  
    color: rgb(48, 48, 179);
    background-color: #bce3f3; 
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.25);
}

.menu {
    font-weight: bold;
    max-width: 15rem;   
}

.menu a:hover {
   color: #FFFF;
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
    opacity: 65%;
    max-width: 15rem;
    background-color: #7c3cc4;  
}


.menu  a {
    font-size: 15px;
    color: rgb(18, 18, 179);
    font-weight: bold;
    padding : 30 px;
    background-color: #ace5e7;
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.25);
}

.texte {
    background-color: $primary;
    text-align: justify;
    font-size: 15px;
    font-style: italic;
    color: rgb(96, 38, 143);
    font-weight: 700; 
}

footer {
    background-color: #77AA92;
    padding: 3rem;
}

.liens {
    font-style: italic;
    color: rgb(17, 6, 26);
    text-align: center;
}

.wolf {
    position: relative;
    margin: 0px 22px;
    float: left;
    animation: glisse 1s ease-in 4s  1 alternate both running;
  }
.lion {
    position: relative;
    margin: 0px 22px;
    float: left;
    animation: glisse 1s ease-in 3s  1 alternate both running;
  } 
.tigre {
    position: relative;
    margin: 0px 22px;
    float: left;
    animation: glisse 1s ease-in 2s  1 alternate both running;
}
.bear{
    position: relative;
    margin: 0px 22px;
    float: left;
    animation: glisse 1s ease-in 0s  1 alternate both running;
} 
@keyframes glisse {
    0% {
        transform: translateX(100rem);
    }
    100% {
        transform: translate X(1px);
    }
}

.lion:hover{
   background-color: #accad6;
   opacity: 90%;
} 
.tigre:hover{
    background-color: #accad6;
    opacity: 90%;
 }
 .bear:hover{
    background-color: #accad6;
    opacity: 90%;
 }
 .wolf:hover{
    background-color: #accad6;
    opacity: 90%;
 }

//  table {
//     border-collapse: collapse;
//     border: 1px solid rgb(114, 145, 30);
//     }


//  tr + th {
// border-top: 1px solid rgb(114, 145, 30);
// background-color : 1px solid rgb(114, 145, 30);
// color: #FFFF;
// }

caption{
    caption-side: top;
    font-size: 20px;
    color: rgb(16, 16, 63);
}

.btn-primary{
   background-color:$btn-primary ; 
}

.btn-secondary {
 background-color:$btn-secondary ;
}

.btn-second{
    background-color: #FFFF;
    color: black;
    border: blueviolet solid;
}

fieldset{
    max-width: 30rem;
    box-shadow: 4px 10px 7px rgba(0, 0, 0, 0.25);
   
}

.icone {
    font-size: 30px;
}

